**/*.pt
**/checkpoints
**/wget-log
**/_build/
**/*.ckpt
**/outputs
**/outputs*
**/*.tar.gz
**/playground
**/wandb
**/output
**/save
**/.backup
qwen_eval/
llama-factory/data


# Byte-compiled / optimized / DLL files
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
dataset/*
tensorflow/my_graph/*
.idea/
# C extensions
*.so
*.pyc
.DS_Store